<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule Check</title>
  </head>
  <body>
    <h1>Upload Files</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <label for="roster_file">Roster CSV:</label>
      <input type="file" name="roster_file" required><br><br>
      <label for="erlang_file">Erlang CSV:</label>
      <input type="file" name="erlang_file" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>